<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clearcloud.userservice.mapper.UserInfoMapper">

    <select id="batchQueryUserInfo" resultType="com.clearcloud.userservice.model.pojo.UserInfo">
        select pk_user_id,user_email,nick_name,avatar,signature from user_info
        where pk_user_id in
        <foreach item="item" collection="userIdList" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>
